.firstContainer {
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 10px 10px 5px #888;
    border-radius: 7px;
}

.mainHeader {
    display: flex;
    background-color: #f1e05a;
    align-items: center;
    border: 2px solid black;
    border-radius: 7px 7px 0px 0px;
}

.headerContainer {
    display: flex;
    margin: 0 auto;
}

header img {
    width: 140px;
    height: 120px;
}

h1 {
    font-family: verdana;
}

h1 > img {
    width: 150px;
    height: 70px;
}


/*--------------------second section---------------------*/

section > img {
    margin-top: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


div > h4 {
    text-align: center;
    font-family: Verdana;
    margin-left: 40px;
}
div > p {
    color: #a93737;
    font-size: 15px;
}
.sectionCont {
    background-color: #eeeeee;
    padding: 10px;
}
.sectionCont form {
    text-align: center;
    padding-top: 10px;
}
.sectionCont button {
    width: 61px;
    height: 26px;
    border-radius: 8px;
    background: ghostwhite;
    font-family: Verdana;
}

#fullname {
    margin-left: 10px;
    font-family: Verdana;
    margin-top: 26px;
}

#userInfo {
    color: grey;
    margin-left: 10px;
    font-family: Verdana;
    margin-top: -12px;
}

#bio {
    font-size: 9px;
    color: black;
    margin-left: 10px;
    font-family: Verdana;
    margin-top: -6px;
}

form input {
    width: 190px;
    height: 25px;
}

ul {
    padding-right: 45px;
}

.sectionCont ul li {
    list-style: none;
    font-family: Verdana;
    margin-top: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    font-size: 15px;
}
span {
    margin-left: 8px;
    margin-right: 10px;
}
.outputSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#error {
    text-align: center;
    background: pink;
    opacity: 0.5;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}
}
.formError {
    display: flex;
    flex-direction: column;
}

/*--------------------third section---------------------*/
.footer {
    background-color: black;
    font-family: Verdana;
    height: 35px;
    border-radius: 0px 0px 7px 7px;
}
.footer p {
    font-family: Verdana;
    color: white;
    margin-top: 0;
    font-size: 10px;
    margin-left: 5px;
}
